{% for u in deb_repo_updates %}
Name: {{ u.name }}
Method: {{ u.repo_url }}
Suite: {{ u.suite }}
Components: {{ u.components}}>{{ deb_repo_component }}
VerifyRelease: {{ u.key_fingerprint }}

{% endfor %}
