Origin: {{ deb_repo_release_origin }}
Label: {{ deb_repo_label }}
Codename: buster
Architectures: amd64
Components: {{ deb_repo_component }}
Description: {{ deb_repo_description }}
SignWith: {{ deb_repo_sign_key_fingerprint }}
{% if deb_repo_updates | length > 0%}
Update: {% for u in deb_repo_updates %}{{u.name}} {% endfor %}
{% endif %}
