#!/usr/bin/env bash
# -*- coding: utf-8 -*-

version="latest"
if [ "$1" != "" ]; then
    version=$1
fi

set -u
set -e

WORKDIR={{ deb_repo_user_home }}
mkdir -p $WORKDIR
cd $WORKDIR

arch=amd64
deb_name=zoom_$arch.deb
rm -rf DEBIAN $deb_name
wget -q https://zoom.us/client/$version/$deb_name
dpkg -e $deb_name
version=$(cat DEBIAN/control | grep ^Version | cut -d\  -f2)
echo "Latest zoom version is $version"
target=zoom_${version}_$arch.deb
if [ -e $target ]; then
    echo "$target already exists. No action."
else
    echo "Adding $target to repository."
    mv $deb_name $target
    {{ deb_repo_scripts_dir }}/update_repo.sh $target
fi
rm -rf DEBIAN $deb_name