%echo Generating a default key
Key-Type: default
Subkey-Type: default
Name-Real: {{ dep_repo_user_name }}
Name-Comment: generic debian repo
Name-Email: {{ deb_repo_mail }}
Expire-Date: 1y
Passphrase: {{ deb_repo_passphrase }}
# Do a commit here, so that we can later print "done" :-)
%commit
%echo done