#!/usr/bin/env bash
# -*- coding: utf-8 -*-

# Based on sign_release.sh of the mini_dinstall package

set -e
set -u

if [ -z "$USER" ]; then
    USER=$(id -n -u)
fi


KEYID="{{ deb_repo_sign_key }}"
PASSPHRASE=$(cat {{ deb_repo_sign_passphrase_file }})

rm -f Release.gpg.tmp InRelease.tmp
echo "$PASSPHRASE" | gpg --pinentry-mode loopback --no-tty --batch --passphrase-fd 0 --default-key "$KEYID" --detach-sign -o Release.gpg.tmp "$1"

mv Release.gpg.tmp Release.gpg
echo "$PASSPHRASE" | gpg --pinentry-mode loopback --no-tty --batch --passphrase-fd 0 --default-key "$KEYID" --clearsign -o InRelease.tmp "$1"

mv InRelease.tmp InRelease

