#!/usr/bin/env bash
# -*- coding: utf-8 -*-

set -e
set -u

if [ "x" == "x$1" ]; then
    echo add a deb file to the repo
    echo "usage: $0 <.deb file>"
fi


# get the keygrip
KEYGRIP=$(/usr/bin/gpg --list-secret-keys --with-keygrip --with-colons {{ deb_repo_mail }} | grep grp | head -n 1 | cut -d ':' -f10)

# set preset passphrase
cat {{ deb_repo_sign_passphrase_file }} |  /usr/lib/gnupg/gpg-preset-passphrase -c $KEYGRIP

# update repo and sign
/usr/bin/reprepro -b {{ deb_repo_data_dir }} includedeb buster $1
